@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-icon {
  font-size: 25px;
  cursor: pointer;
  color: white;
  background-color: #0388b4; 
  border-radius: 50%;
  padding: 6px; 
}

.custom-icon:hover {
  background-color: #026b92; 
}

.row-disabled {
  background-color: #f0f0f0 !important;  /* Màu xám cho dòng đã chọn */
  color: #a0a0a0;  /* Màu chữ xám nhạt */
}