.DashboardTemplate {
    .hover-card { 
        transition: transform 0.3s, 
        box-shadow 0.3s; 
    } 
    .hover-card:hover { 
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); 
    }

    .clickable-item {
        transition: transform 0.3s
    }
    .clickable-item:hover {
        transform: scale(1.05);
    }
}